In [1]:
#import pandas and read a vine_table csv
import pandas as pd
vine_df = pd.read_csv('vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y

In [2]:
#create a new df of filtered data
new_vine_df = vine_df.loc[vine_df['total_votes']>= 20]
new_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [4]:
#create a new column with a percentage to then filter by for a new df
new_vine_df['percentage_votes'] = new_vine_df['helpful_votes']/new_vine_df['total_votes']
nn_vine = new_vine_df.loc[new_vine_df['percentage_votes']>= 0.5]
nn_vine.head()

C:\Users\olgao\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percentage_votes
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y,0.870968
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y,1.000000
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y,0.935484
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y,0.833333
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y,0.964286

In [7]:
#drop the created percentage_vote column from the new df
nn_vine_df = nn_vine.drop(['percentage_votes'], axis=1)
nn_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [8]:
#paid reviews
vine = nn_vine_df.loc[nn_vine_df['vine'] == 'Y']
vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8547,R3A71VR1JZD8WF,2.0,27.0,30.0,Y,N
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N
46422,R2MHP919VZN7DI,5.0,29.0,30.0,Y,N
66446,RD2BCTVS59A5L,2.0,20.0,20.0,Y,N

In [9]:
#not paid reviews
vine_n = nn_vine_df.loc[nn_vine_df['vine'] == 'N']
vine_n.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [10]:
#determine total review number,the number of 5-star reviews, and the percentage of 5-star review for paid 
vine.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170 entries, 8547 to 2598196
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   review_id          170 non-null    object
 1   star_rating        170 non-null    float64
 2   helpful_votes      170 non-null    float64
 3   total_votes        170 non-null    float64
 4   vine               170 non-null    object
 5   verified_purchase  170 non-null    object
dtypes: float64(3), object(3)
memory usage: 9.3+ KB

In [12]:
#determine total review number,the number of 5-star reviews, and the percentage of 5-star review for paid 
vine_star = vine.groupby(['star_rating'])['star_rating'].count()
print(vine_star)
#percentage of the 5-star reviews is 65/170*100 = 38.23%

star_rating
1.0     6
2.0    16
3.0    27
4.0    56
5.0    65
Name: star_rating, dtype: int64

In [11]:
#determine total review number,the number of 5-star reviews, and the percentage of 5-star review for not paid 
vine_n.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37840 entries, 128 to 2643618
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   review_id          37840 non-null  object
 1   star_rating        37840 non-null  float64
 2   helpful_votes      37840 non-null  float64
 3   total_votes        37840 non-null  float64
 4   vine               37840 non-null  object
 5   verified_purchase  37840 non-null  object
dtypes: float64(3), object(3)
memory usage: 2.0+ MB

In [13]:
#determine total review number,the number of 5-star reviews, and the percentage of 5-star review for not paid 
vine_n_star = vine_n.groupby(['star_rating'])['star_rating'].count()
print(vine_n_star)
#percentage of the 5-star reviews is 20612/37840*100 = 54.47%

star_rating
1.0     7569
2.0     2048
3.0     2711
4.0     4900
5.0    20612
Name: star_rating, dtype: int64